BasedOnStyle: Google
TabWidth: 4
IndentWidth: 4
ContinuationIndentWidth: 8
AlignAfterOpenBracket: DontAlign
AlignConsecutiveMacros: 'false'
AlignConsecutiveAssignments: 'false'
AlignConsecutiveDeclarations: 'false'
AlignOperands: 'false'
AlignTrailingComments: 'false'
AllowAllArgumentsOnNextLine: 'false'
AllowShortFunctionsOnASingleLine: 'false'
AllowShortLoopsOnASingleLine: 'false'
AllowShortIfStatementsOnASingleLine: 'false'
AllowShortBlocksOnASingleLine: 'false'
AlwaysBreakAfterDefinitionReturnType: All
AlwaysBreakAfterReturnType: All
BreakBeforeBraces: Attach
ColumnLimit: '120'
SpaceAfterLogicalNot: 'false'
SpaceBeforeParens: Never
