[Desktop Entry]
Name=mwc
Comment=tiling wayland compositor based on wlroots and scenefx
Exec=mwc
Type=Application
DesktopNames=mwc
Keywords=tiling;wayland;compositor;
